    <div>
    <p *ngIf="user">Logged in as: {{ user?.email }} - {{ user?.displayName }}</p>
    <button *ngIf="user" (click)="goToCountryTool()">+Country</button>
    <button *ngIf="user" (click)="goToRoleTool()">+Role</button>
    <button *ngIf="user" (click)="goToParticipantTool()">+Participant</button>
    </div>