form {
    width: 100%;
    height: 100;
    position: absolute;
    border: #4D4D4D;
    border: 2px solid;
}

input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}