<div class="row">
        <div class="col-12">
                <h4>Login</h4>
              </div>

    <div class="col-12">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  
        <div class="row" *ngIf="authError">
          <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Your email">
          </div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="Your password">
          </div>
        </div>
  
        <div class="row mt-2">
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>