<div class="row mt-4">
    <div class="col-12">
      <h4>Control User Registration</h4>
    </div>
  
    <div class="col-12">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{ authError?.message }}
        </div>
      </div>
      <form #userRegForm="ngForm" (ngSubmit)="createControlUser(userRegForm)">
        <div class="row">
          <div class="col-md-6 mb-2">
            <input ngModel #firstName="ngModel" name="firstName" type="text" class="form-control" id="firstName" placeholder="First name">
          </div>
          <div class="col-md-6 mb-2">
            <input ngModel #lastName="ngModel" name="lastName" type="text" class="form-control" id="lastName" value="" placeholder="Last name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email address">
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="New password">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <input name="password" type="password" class="form-control" placeholder="Confirm password">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>