<div class="row mt-4">
    <div class="col-12">
      <h4>Participant Creation</h4>
    </div>
  
    <div class="col-12">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{ authError?.message }}
        </div>
      </div>
      <form #userRegForm="ngForm" (ngSubmit)="createParticipantUser(userRegForm)">
        <div class="row">
          <div class="col-md-6 mb-2">
            <input ngModel #firstName="ngModel" name="firstName" type="text" class="form-control" id="firstName" placeholder="First name">
          </div>
          <div class="col-md-6 mb-2">
            <input ngModel #lastName="ngModel" name="lastName" type="text" class="form-control" id="lastName" placeholder="Last name">
          </div>
        </div>
        <div class="row">
            <div class="select">
              <select ngModel #role="ngModel" name="role" type="text" class="form-control" id="role" aria-placeholder="Role">
                <option value="" disabled selected>Select a Role</option>
                <option *ngFor="let role of roleArray" [value]="role.roleName">{{role.roleName}} - {{role.ofCountry}}</option>
              </select> 
            </div>
          </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email address">
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <input name="password" type="password" class="form-control" placeholder="Confirm password">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>