<div id="wrapper">
        <header> Header </header>
        <div id="content">
          <section id="left"> Left </section>
          <section id="center"> Center </section>
          <section id="right"> Right </section>
        </div>
        <footer> Footer </footer>
    </div>