
<div *ngIf="(user$ | async).systemRole === 'participant'" class="d-flex flex-row flex-wrap">
    <a *ngFor="let tweetClass of tweetArray" class="list-group-item list-group-item-action">
        {{tweetClass.userRole}}: {{tweetClass.tweetDescription}} 
      </a>
</div>

<div *ngIf="(user$ | async).systemRole === 'admin'" class="d-flex flex-row flex-wrap">
    <a *ngFor="let tweetClass of tweetArray" class="list-group-item list-group-item-action">
        {{tweetClass.userRole}} ({{tweetClass.userName}}): {{tweetClass.tweetDescription}} 
      </a>
</div>
<form #tweetCreateForm="ngForm" (ngSubmit)="createTweet(tweetDescription)">
<div>
    <div class="col-md-12">
        <textarea  ngModel #tweetDescription="ngModel" name="tweetDescription" type="text" class="form-control" id="tweetDescription"  placeholder="Enter your tweet" [maxLength]="maxTweet"></textarea>
    </div>
    <div class="col-md-12">
            <button type="submit">Tweet as {{tweetUser.role}}</button>
    </div>
</div>
</form>
