header {
    background: #4D4D4D;

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
                    align-items: baseline;

                    &:hover {
                        background-color: #F2F2F2;
                        color: #4D4D4D;
                    }
                }
            }
        }
    }
}