<img *ngIf="user$ | async" src="assets/img/logo.png" style="width:190px;height:142px;" class="center">
<header>
    <div class="navcontainer">
      <a routerLink="/" class="logo">{{ appTitle }}</a>
      <nav>
        <ul>
          <li><a *ngIf="user$ | async" routerLink="/">Home</a></li>
          <li><a *ngIf="(user$ | async).systemRole === 'participant'" routerLink="/role">Role</a></li>
          <li><a *ngIf="(user$ | async).systemRole === 'admin'" routerLink="/participantlist">Participant List</a></li>
          <li><a *ngIf="user$ | async" routerLink="/scenario">Scenario</a></li>
          <li><a *ngIf="user$ | async" routerLink="/email">Email</a></li>
          <li><a *ngIf="user$ | async" routerLink="/tweet">Tweet Board</a></li>
          <li><a *ngIf="user$ | async" routerLink="/news">News</a></li>
          <li><a *ngIf="user$ | async" routerLink="/">Chat</a></li>
          <li><a *ngIf="(user$ | async).systemRole === 'admin'" routerLink="/control">Control</a></li>
          <li><a *ngIf="user$ | async" (click)="logout()" routerLink="/">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

 