<div class="row mt-4">
    <div class="col-12">
      <h4>Role Tool</h4>
    </div>
  
    <div class="col-12">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{ authError?.message }}
        </div>
      </div>
      <form #roleForm="ngForm" (ngSubmit)="createRole(roleForm)">
        <div class="row">
          <div class="col-md-6 mb-2">
            <input ngModel #roleName="ngModel" name="roleName" type="text" class="form-control" id="roleName" placeholder="Role name">
          </div>
          <div class="col-md-12 mb-2">
            <select ngModel #role="ngModel" name="ofCountry" type="text" class="form-control" id="ofCountry">
              <option value="" disabled selected>Select an affiliate or country</option>
              <option *ngFor="let country of countryArray" [value]="country.countryName">{{country.countryName}}</option>
            </select> 
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>