
<div>
<p *ngIf="user">Logged in as: {{ user?.email }} - {{ user?.displayName }}</p>
<button  *ngIf="!user" (click)="registration()">Register</button>
<button  *ngIf="!user" (click)="login()">Login</button>
<img *ngIf="!user" src="assets/img/cornerlogo.png" style="width:950px;height:710px;" class="center">
</div>